<h1>Editing publication</h1>

<%= error_messages_for :publication %>

<%= render :partial => @publication, :locals => {:button_name => "Update"} %>

<%= link_to 'Show', @publication %> |
<%= link_to 'Back', publications_path %>
