<h3>Editing author</h3>

<%= error_messages_for :author %>

<%= render :partial => @author, :locals => { :button_name => 'Update' } %>

<%= link_to 'Show', @author %> |
<%= link_to 'Back', authors_path %>
