<h1>Listing editors</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for editor in @editors %>
  <tr>
    <td><%=h editor.name %></td>
    <td><%= link_to 'Edit', edit_editor_path(editor) %></td>
    <td><%= link_to 'Destroy', editor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New editor', new_editor_path %>
